<h3>This component has no content</h3>
<!-- <div ng-controller="mam-device">
  <h3>Custom Fields</h3>
  <div>
    <button class="btn btn-primary" ng-click="addField()">Add Field</button>
  </div>
  <ul>
    <li class="row" style="padding:8px;" ng-repeat="item in fields">
      <div class="col-sm-4" style="padding-right:10px;">
        <input style="padding-right:10px;" placeholder="Name" ng-model="item.name"/>
      </div>
        <input class=" col-sm-6" placeholder="Value" ng-model="item.value"/>
        <span style="text-align:center; padding:5px; cursor:pointer" ng-click="removeField($index)" class="col-sm-2 glyphicon glyphicon-remove"/>
    </li>
  </ul>
  <div ng-show="fields.length===0"><b>No custom fields found.</b></div>
  <button ng-click="saveFields()" class="btn btn-primary" ng-show="fields.length>0">Save</button>

</div> -->
