<div class="form-group">
  <label>Record Log</label>
  <div>
    <label class="radio-inline">
      <input type="radio" name="log-enable" ng-model="conf.record" value="1"> On
    </label>
    <label class="radio-inline">
      <input type="radio" name="log-enable" ng-model="conf.record" value="0"> Off
    </label>
  </div>
</div>
<div class="form-group">
  <label>Upload Interval (Seconds. 0 to disable uploading)</label>
  <input class="form-control" ng-model="conf.uploadInterval"/>
</div>
<div class="form-group">
  <label>Log Rotation (Days. 0 to disable log rotation)</label>
  <input class="form-control" ng-model="conf.logRotation"/>
</div>
<div class="form-group">
  <label>Encryption</label>
  <input class="form-control" ng-model="conf.encrypt"/>
</div>
